*{
    margin: 0;
    padding: 0;
    
}
.main{
    display: flex;
    padding: 10px 20px;
    /* align-items: center; */
    /* justify-content: space-between; */

}

ul{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 10px;
    gap: 30px;
    margin-left: 150px;
    margin-right: -70px;
    font-weight: 600;
    opacity: 1.2;
    font-family:Arial, Helvetica, sans-serif;
cursor: pointer;
    
}
li{
    list-style:none;
    align-items: center/;
    /* justify-content: space-between; */
}
.logo{
margin-left: 70px;
display: flex;
justify-content: center;
cursor: pointer;
}
img{
    height: 50px;
    width: 200px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
#head{
    margin-top: 30px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 60px;
    margin-top: 50px;
    color: rgb(58, 9, 235);
}
/* #head2{
margin-top: 30px; 
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 60px;
    margin-top: 50px;
    color: rgb(58, 9, 235);
} */

p{
  display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    margin:12px 300px ;
    
}  
.search{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:#fff;
    /* width: 600px; */
    /* height: 20px; */
    border-radius: 3px;
    /* border: 1px solid rgba(0, 0, 0, 0.473); */
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.find{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius:100px ;
    margin-top: 40px;
    width: 90px;
    background-color:rgb(101, 67, 226) ;
}
.find:hover{
    background-color:rgb(72, 37, 199)
}
.lal{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 30px;
    font-weight: 900;
}
.set{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-top: 40px ;
}
.soft{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.soft:hover{
    background-color: rgb(217, 213, 233);
}
.develop{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.develop:hover{
    background-color: rgb(217, 213, 233);
}
.end{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.end:hover{
    background-color: rgb(217, 213, 233);
}
.React{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 10px;
}
.React:hover{
    background-color: rgb(217, 213, 233);
}
.Node{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.Node:hover{
    background-color: rgb(217, 213, 233);
}
.Native{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 10px;
}
.Native:hover{
    background-color: rgb(217, 213, 233);
}
.flut{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 10px;
}
.flut:hover{
    background-color: rgb(217, 213, 233);
}
.ux{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.ux:hover{
    background-color: rgb(217, 213, 233);
}
.Design{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.design:hover{
    background-color: rgb(217, 213, 233);
}
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
    cursor: pointer;
}
.web{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 16px;
    font-weight: 900;
    padding: 6px 6px;
    align-self: center;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.web:hover{
    background-color: rgb(217, 213, 233);
}
.seo{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 16px;
    align-self: center;
    font-weight: 900;
    padding: 6px 6px;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.seo:hover{
    background-color: rgb(217, 213, 233);
}
.market{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 16px;
    font-weight: 900;
    padding: 6px 6px;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.market:hover{
    background-color: rgb(217, 213, 233);
}
.write{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(101, 67, 226);
    font-size: 16px;
    font-weight: 900;
    padding: 6px 6px;
    align-self: center;
        border: 1px solid rgba(0, 0, 0, 0.473) ;
    border-radius: 10px;
}
.write:hover{
    background-color: rgb(217, 213, 233);
}
.back{
    background-image: url(./img2.png);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.latest{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 8px;
    cursor: pointer;
}
.fat{
    color:rgb(100, 100, 196);
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sat{
    color:black;
    font-weight: bold;
    font-size: 16px;
display: flex;
    align-items: center;
    justify-content: center;

}
.post{
    cursor: pointer;
    /* height: 250px; */
    /* width: 350px; */
    background-color:#fff;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 13px;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center/; */
    /* align-self: center; */
    margin-top: 20px;
    /* margin-left: 20px; */
}
.last{
    width: 22.5%;
    height: 200px;
    background-color:rgb(241, 239, 239);
    padding:10px;
    margin-top: 30px;
    border-radius: 7px;
}
.last:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
h4{
    color:rgb(90, 90, 184);
    
}
h5{
    margin-left: 250px;
    margin-top: 40px;
}
/* .logo1{
    height: -12px;
    width: 2%;
    margin-top: -120px;
    margin-left: 260px;
} */
 .city{
    margin-left: 20px ;
    margin-top: -8px;
 }
.same{
    margin-left: 200px ;
    margin-top: -55px;
}
.inspire{
    width: 22.5%;
    height: 200px;
    background-color: rgb(241, 239, 239);
    padding:10px;
    margin-top: 30px;
    border-radius: 7px;
}
.inspire:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
h4{
    color:rgb(90, 90, 184);
    
}
h5{
    margin-left: 250px;
    margin-top: 40px;
}
/* .logo1{
    height: -12px;
    width: 2%;
    margin-top: -120px;
    margin-left: 260px;
} */
 .city{
    margin-left: 20px ;
    margin-top: -8px;
 }
.same{
    margin-left: 200px ;
    margin-top: -55px;
}
.will{
    width: 22.5%;
    height: 200px;
    background-color: rgb(241, 239, 239);
    padding:10px;
    margin-top: 30px;
    border-radius: 7px;
}
.will:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
h4{
    color:rgb(90, 90, 184);
    
}
h5{
    margin-left: 250px;
    margin-top: 40px;
}
/* .logo1{
    height: -12px;
    width: 2%;
    margin-top: -120px;
    margin-left: 260px;
} */
 .city{
    margin-left: 20px ;
    margin-top: -8px;
 }
.same{
    margin-left: 200px ;
    margin-top: -55px;
}
.wish{
    width: 22.5%;
    height: 200px;
    background-color: rgb(241, 239, 239);
    padding:10px;
    margin-top: 30px;
    border-radius: 7px;
}
h4{
    color:rgb(90, 90, 184);
    
}
h5{
    margin-left: 250px;
    margin-top: 40px;
}
/* .logo1{
    height: -12px;
    width: 2%;
    margin-top: -120px;
    margin-left: 260px;
} */
 .city{
    margin-left: 20px ;
    margin-top: -8px;
 }
.same{
    margin-left: 200px ;
    margin-top: -55px;
}
.wish:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.desire{
    width: 18%;
    height: 200px;
    background-color: rgb(241, 239, 239);
    padding:10px;
    margin-top: 30px;
    border-radius: 7px;
}
h4{
    color:rgb(90, 90, 184);
    
}
h5{
    margin-left: 210px;
    margin-top: 30px;
}
/* .logo1{
    height: -12px;
    width: 2%;
    margin-top: -120px;
    margin-left: 260px;
} */
 .city{
    margin-left: 20px ;
    margin-top: -8px;
 }
.same{
    margin-left: 200px ;
    margin-top: -55px;
}
.desire:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.bound{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 50px;
}
.the{
    color:rgb(100, 100, 196);
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.of{
    color:black;
    font-weight: bold;
    font-size: 16px;
display: flex;
    align-items: center;
    justify-content: center;

}
.ustad{
    display: flex;
    gap: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.anti{
    width: 25%;
    height: 250px;
    background-color:#fff;
    margin-top: 25px;
    border-radius:15px ;
}
.wow{
    height: 50px;
    width: 50px;
    background-color: gray;
    color: #fff;
    margin-top: 5px;
border-radius: 40px;
/* place-content: center; */
/* place-items: center; */
display: flex;
justify-content: center;
align-items: center;

}
.bomb{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 60px;
}
.para{
    margin-top: 20px;
    margin-left: 15px;
}
.chat{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./chat1.png);
    width: 100%;
    height: 55%;

}
.renti{
    width: 25%;
    height: 250px;
    background-color:#fff;
    margin-top: 25px;
    border-radius:15px ;
}
.well{
    height: 50px;
    width: 50px;
    background-color: gray;
    color: #fff;
    margin-top: 5px;
border-radius: 40px;
/* place-content: center; */
/* place-items: center; */
display: flex;
justify-content: center;
align-items: center;

}
.boll{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 60px;
}
.par{
    margin-top: 20px;
    margin-left: 15px;
}
.chatg{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./chat2.png);
    width: 100%;
    height: 55%;
}
.quick{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}
.easy{
    color:rgb(100, 100, 196);
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.get{
    color:black;
    font-weight: bold;
    font-size: 16px;
display: flex;
    align-items: center;
    justify-content: center;

}
.pear{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
}
.first{
    cursor: pointer;
    display: flex;
    margin-top: 40px;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
/* .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 20px;
    width: 10px;
    color: black;
} */
.second{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.second:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.second >h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}
.second >h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
}
.third{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.third:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.third>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.third >h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
}
.fourth{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.fourth:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.fourth>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.fourth >h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
}
.fifth{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.fifth:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.fifth>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.fifth >h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
}
.best{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 7px;
    font-weight: 500;
    font-size: 20px;
}
.vest{
    background-image: url(./banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 210px;
    display: flex;
    margin-left: 70px;
    justify-content: center;
    align-items:center ;
    margin-top: 30px;
}
.top{
    display: flex;
    margin-top: 40px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.top1{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.top1:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.top1>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.top1>h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top2{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.top2:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.top2>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.top2>h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top3{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.top3:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.top3>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.top3>h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top4{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.top4:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.top4>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.top4>h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lastone{
    display: flex;
    margin-top: 40px;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.last1{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.last1:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.last1>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.last1>h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last2{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.last2:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.last2>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.last2>h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last3{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.last3:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.last3>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.last3>h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last4{
    height: 140px;
    width: 230px;
    background-color:lightcyan;
    border-radius: 12px;
    padding: 14px;
    
}
.last4:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* margin-bottom: 2.5px; */
}
.last4>h3{
    color:rgb(100, 100, 196) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.last4>h6{
    margin-top: 6px;
    margin-left: 6px;
    font-size: medium;
    font-weight: 200;
    opacity: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.past{
    display: flex;
    margin-top: 50px;
    margin-left: auto;
}
.past1{
    width: 48%;
    height: 400px;
    background-image: url(./post2.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.pappa{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: flex-end; */
    /* align-self: flex-end; */
    flex-direction: column;
    padding-top:400px ;
}
.can{
    display: flex;
    justify-content: center;
    align-items: flex-end;
color: black;
}
.who{
    display: flex;
    justify-content: center;
    align-items: flex-end;
     color:rgb(100, 100, 196) ;
}
.past2{
    width: 48%;
    height: 400px;
    background-image: url(./postjob1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.person{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: flex-end; */
    /* align-self: flex-end; */
    flex-direction: column;
    padding-top:400px ;
}
.for{
    display: flex;
    justify-content: center;
    align-items: flex-end;
color:rgb(100, 100, 196) ;
}
.to{
    display: flex;
    justify-content: center;
    align-items: flex-end;
     color: black;
}
.section5{
    background-color:rgb(52, 52, 177)  ;
    width: 100%;
    margin-top: 90px;
}
.follow{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.pic{
    color: #fff;
    width: 400px;
    height: 260px;
    padding: 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.contact{
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    flex-direction: column;
padding: 70px 70px;
    /* margin-left: 0px; */
    width: 60%;
    gap: 10px;
}
.contact >h3{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: flex-end; */
}
.contact >h4{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: flex-end; */
    opacity: 0.87;
}
.contact >h4{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: flex-end; */
}
.contact >h4{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: flex-end; */
}
.section6{
background-color:rgb(52, 52, 177)  ;
    width: 100%;
    border: 1px solid White;
}
.footpanel1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    gap: 10px;
    cursor: pointer;
}
a:hover{
    color: #fff;
    text-decoration-line: underline ;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 5px;
}
